@import url('https://fonts.googleapis.com/css?family=Montserrat|Vidaloka&display=swap'); /* google fonts typsnitt Vidaloka och Montserrat importerade till stilmallen */
/* BAS */

html {
    box-sizing: border-box;
}

body { /* vit body med lite margin */
    background-color: white;
    color: white;
    margin: 2%;
}

.container { /* själva bakgrunden till webbplatsen men mörk geometrisk bakgrundsbild som täcker utrymmet för containern och har en fet ljusgrå ram runtom */
    background-image: url("./bg.png");
    background-size: cover;
    border: 20px solid lightgrey;
    padding: 1% 3% 0 3%;
    position: relative;
}

.item-wrap {
    display: -webkit-box;
    display: flex;
}

.intro {
    margin: 10% 0;
}

.products {
    margin: 0 2% 5%;
}

.product-right {
    position: relative;
    left: 0;
    top: 10em;
}

.product-left {
    position: relative;
    right: 0;
    top: 10em;
    text-align: right;
}

.gallery {
    margin: 4em 0 5em;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.questions {
    margin: 1em;
    padding: 1.5em;
    background-color: grey;
    color: black;
}

.contact {
    margin: 0 18% 5%;
}

#footer-bottom {
    position: absolute;
    bottom: 0.5em;
    right: 0;
}

/* slut på kod för BAS */
/* -------------------------- */
/* HEADER/NAVIGERING layout */

header {
    display: -webkit-box;
    display: flex;
}

.top-menu {
    width: 100%;
    margin: 0;
}

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

/* slut på kod för HEADER/NAVIGERING layout */
/* -------------------------- */
/* FORMULÄR */

.product-form {
    display: inline-block;
    margin-top: 1em;
}

.product-right .product-price {
    margin-right: 3.5em;
}

.product-left .product-price {
    margin-left: 3.5em;
}

select:focus,
select:active {
    outline: 1px dotted white;
    outline-offset: 0.2em;
}

input[type="submit"] {
    display: block;
    margin: 2em 0;
}

.product-left input[type="submit"] {
    position: absolute;
    right: 0;
}

.contact-form .input-wrap {
    display: flex;
    flex-flow: column wrap;
    margin: 0 1em 2em 0;
}

.contact-form .input-wrap input {
    border: none; /* för att "återställa" standard stylingen av inputs och sedan lägga till min egna border-stil */
    border-bottom: 1px solid white;
    background-color: transparent;
}

label[for="textbox"],
#textbox {
    display: block;
}

#textbox {
    width: 100%;
    height: 10em;
    padding: 0.5em;
    border: 1px solid white;
    background-color: transparent;
    resize: none;
}

/* slut på kod för FORMULÄR */
/* -------------------------- */
/* TEXTER & LÄNKAR */

#brand { /* tog bort all margin/padding då jag använde mig av margin på själva containern rubriken ligger i för att få "luft" runtom */
    margin: 0;
    padding: 0;
    width: 20em;
}

#brand a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    -webkit-transition: letter-spacing 0.5s ease-in-out;
    transition: letter-spacing 0.5s ease-in-out;
}

#brand a:hover {
    letter-spacing: 0.3em;
    border-bottom: 1px solid white;
}

.top-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.8em 1em;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.top-menu ul li a:hover {
    color: orangered;
    border-bottom: 1px solid white;
}

.top-menu ul li a:focus,
.top-menu ul li a:active {
    color: orangered;
}

h2 {
    margin: 1em 0 0.5em;
    font-size: 2.8em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}

h3 {
    margin: 1em 0 0.5em;
    font-size: 2em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Vidaloka', serif;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

a:focus,
a:active {
    outline: 1px dotted white;
    outline-offset: 0.2em;
}

.intro h2 {
    max-width: 8em;
}

.intro p {
    font-size: 1.2em;
    max-width: 19.5em;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: lightgrey;
    padding: 0.7em 3.5em;
    margin: 0.5em 0;
    color: black;
    font-size: 1.4em;
    font-weight: normal;
    border: 0;
    -webkit-transition: box-shadow 0.4s ease;
    transition: box-shadow 0.4s ease;
}

.button:hover {
    box-shadow: 1px 1px 10px 3px grey;
}

.button:focus,
.button:active {
    outline: 1px dotted white;
    outline-offset: 0.2em;
}

.product-price {
    font-size: 1.3em;
    display: inline;
}

.product-price span {
    font-weight: bold;
}

.product-form label {
    font-family: 'Montserrat', sans-serif;
    margin-right: 0.5em;
}

.questions p {
    font-weight: bold;
    margin: 0;
}

.contact-text {
    margin-bottom: 4em;
}

.contact-form label {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.contact-form .input-wrap input,
#textbox {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
}

.contact-form .input-wrap input:focus,
.contact-form .input-wrap input:active,
#textbox:focus,
#textbox:active {
    outline: 1px dotted white;
    outline-offset: 0.2em;
}

.contact-form .button {
    margin: 1em auto;
}

.footer-bottom-link {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

.footer-bottom-link:hover {
    color: orangered;
}

/* slut på kod för TEXTER & LÄNKAR */
/* -------------------------- */
/* BILDER */

.img-intro {
    background: url("hund1.png") no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 60%;
}

.img-product {
    border-bottom: 1px solid white;
    margin: 3.5em 1em;
}

.img-gallery {
    padding: 0.5em;
}

/* slut på kod för BILDER */