@import url('https://fonts.googleapis.com/css?family=Montserrat|Vidaloka&display=swap'); /* google fonts typsnitt Vidaloka och Montserrat importerade till stilmallen */
/* BAS */

html {
    box-sizing: border-box;
}

body { /* vit body med lite margin */
    background-color: white;
    color: white;
    margin: 2%;
}

.container { /* själva bakgrunden till webbplatsen men mörk geometrisk bakgrundsbild som täcker utrymmet för containern och har en fet ljusgrå ram runtom */
    background-image: url("./bg.png");
    background-size: cover;
    border: 20px solid lightgrey;
    padding: 1% 3% 0 3%;
    position: relative;
}

.item-wrap {
    display: -webkit-box;
    display: flex;
}

.intro {
    margin: 10% 0;
}

#footer-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* slut på kod för BAS */
/* -------------------------- */
/* HEADER/NAVIGERING layout */

header {
    display: -webkit-box;
    display: flex;
}

.top-menu {
    width: 100%;
    margin: 0;
}

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

/* slut på kod för HEADER/NAVIGERING layout */
/* -------------------------- */
/* TEXTER & LÄNKAR */

#brand { /* tog bort all margin/padding då jag använde mig av margin på själva containern rubriken ligger i för att få "luft" runtom */
    margin: 0;
    padding: 0;
    width: 20em;
}

#brand a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
    -webkit-transition: letter-spacing 0.5s ease-in-out;
    transition: letter-spacing 0.5s ease-in-out;
}

#brand a:hover {
    letter-spacing: 0.3em;
    border-bottom: 1px solid white;
}

.top-menu ul li a {
    -webkit-text-decoration: underline solid transparent;
    text-decoration: underline solid transparent;
    color: white;
    font-size: 1.2em;
    display: inline-block;
    padding: 0.8em 1em;
    -webkit-transition: -webkit-text-decoration 0.5s ease;
    transition: -webkit-text-decoration 0.5s ease;
    transition: text-decoration 0.5s ease;
    transition: text-decoration 0.5s ease, -webkit-text-decoration 0.5s ease;
}

.top-menu ul li a:hover {
    background-color: rgba(68, 68, 68, 0.781);
    -webkit-text-decoration: underline solid white;
    text-decoration: underline solid white;
}

h2 {
    margin: 0.5em 0;
    font-size: 2.8em;
    font-family: 'Vidaloka', serif;
    font-weight: 400;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

a:focus {
    outline: 2px dashed yellow;
    outline-offset: 0.2em;
}

.intro h2 {
    max-width: 8em;
}

.intro p {
    font-size: 1.2em;
    max-width: 19.5em;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: lightgrey;
    padding: 0.7em 3.5em;
    margin: 0.5em 0;
    color: black;
    font-size: 1.4em;
}

/* slut på kod för TEXTER & LÄNKAR */
/* -------------------------- */
/* BILDER */

.img-big {
    background-image: url("hund1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 60%;
}

/* slut på kod för BILDER */